/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #dddddd;
}
body::before {
    content: "";

    position: fixed; /* para que cubra toda la pantalla */
    inset: 0; /* top:0 right:0 bottom:0 left:0 */

    background-image: url("Assets/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(10px);
    transform: scale(1.1); /* evita bordes feos */

    z-index: -1; /* lo manda al fondo */
}

.fila {
  display: flex;
  justify-content: space-between; /* separa izquierda y derecha */
  align-items: flex-start;
  margin: 40px;
  gap: 40px;
}

.contenedor-texto-1{
    width: calc(100% - 300px);  /* deja margen lateral */
  height: calc(100% - 80px); /* deja margen arriba/abajo */

  background-color: #e8effc;
  color: black;
  padding: 30px;
  border-radius: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}
.contenedor-texto-2{
    width: calc(40% - 900px);  /* deja margen lateral */
  height: calc(100% - 80px); /* deja margen arriba/abajo */

position: relative;
  background-color: #e8effc;
  color: black;
  padding: 20px;
  border-radius: 0px;
    padding-right: 350px;
  display: flex;
  flex-direction: column;
  justify-content: left;
    float: right;
    overflow: auto;
}
.amigos{
    text-align: left;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #3b2f2f; /* color oscuro como el tuyo */
  padding: 10px 20px;
  color: white;
}

/* IZQUIERDA */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-left a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
}

.nav-left a:hover {
  color: white;
}

/* DERECHA */
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* BUSCADOR */
.nav-right input {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* ICONOS */
.icon {
  cursor: pointer;
  font-size: 16px;
}

/* USUARIO */
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.nav-right input {
  background: #e0e0e0;
  border-radius: 20px;
}

.titulo{
    text-align: left;

}
.titulo-3{
    margin-bottom: 50px;
    float: right;
    text-group-align: right;
    text
}
.parrafo{/* esto es para seleccionar el parrafo primario despues del titulo*/
    line-height: 25px; /*para darle interlineado al texto*/
}