<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rubi Portfolio</title>
    <<link rel="stylesheet" href="{{ url_for('static', filename='styles.scss') }}">
</head>
<body>

<header class="header">
    {% if show_navbar %}
    <nav class="navbar">
      <div class="nav-left">
          <span class="logo"><a href="{{ url_for('index') }}">Rubi</a></span>
        <a href="#">Explorar</a>
        <a href="#">Amigos</a>
        <a href="#">Mensajes</a>
        <a href="#">Ayuda</a>
      </div>

      <div class="nav-right">
        <input type="text" placeholder="Busqueda" name="busqueda">

        <span class="icon">✉</span>
        <span class="upload-text"><a class="upload-text" href="{{url_for('upload')}}">subir</a></span>

        <div class="user">
          <span><a class="user-text"href="{{url_for('profile')}}">{{ session.get("username") }}</a></span> <!-- aca seria poner una variable enlazada al flask paera que me devuelva el nombre de usuario-->
            {% if current_user %}
            <img alt="user" src="{{ url_for('static', filename='uploads/profile_pic/' + (current_user['profile_picture'] or 'default.png')) }}">
            {% endif %}

        </div>
      </div>
    </nav>
    {% endif %}

  <main>
    {% block title %}{% endblock %}
    {% block content %}{% endblock %}
  </main>
</header>