<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rubi Portfolio</title>
    <<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header class="header">
    <nav class="navbar">
  <div class="nav-left">
    <span class="logo">Ruby</span>
    <a href="#">Explorar</a>
    <a href="#">Dolor amet</a>
    <a href="#">Dolor amet</a>
    <a href="#">Dolor amet</a>
  </div>

  <div class="nav-right">
    <input type="text" placeholder="Busqueda">

    <span class="icon">✉</span>
    <span class="icon">🔔</span>

    <div class="user">
      <span>johndoe.01</span>
      <img src="avatar.jpg" alt="user">
    </div>
  </div>
</nav>
</header>
<div class="fila">
<div class="contenedor-texto-1">
    <div class="contenedor-titulos">
        <h1 class="titulo">Popular</h1>
        <h3 class="titulo-3">for you</h3>
        <h3 class="titulo-3">groups</h3>
    </div>

    <div class="parrafo">
        <p>
            Photographer exploring light, color, and everyday moments.
        </p>
        <p>
            Capturing what the eye feels but words can’t explain.
        </p>
        <p>
            Shot mostly on RAW, minimal editing.
        </p>
        <p>
        Photography is the most wonderful of the arts.
        </p>
    </div>
</div>

<div class="contenedor-texto-2">
    <p class="amigos">
        janedoe.01
    </p>
    <p class="amigos">
        ripvanwinkle.1911
    </p>
    <p class="amigos">
        johnmilton911
    </p>
</div>
</div>






</body>
</html>