{% extends "base.html" %}


{% block content %}
<body>
<div class="fila">
<div class="contenedor-texto-1">
    <div class="contenedor-titulos">
        <h1 class="titulo">Popular</h1>

        <div class="feed">
            {% for post in posts %}
                <div class="post">
                  <h4>{{ post[1] }}</h4> <!-- username -->
                  <img class="upload-img" src="{{ url_for('static', filename='uploads/' + post[0]) }}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="contenedor-texto-2">
    <p class="amigos">
        janedoe.01
    </p>
    <p class="amigos">
        ripvanwinkle.1911
    </p>
    <p class="amigos">
        johnmilton911
    </p>
</div>
</div>
</body>
{% endblock %}







