<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rubi Portfolio</title>
    <<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header class="header">
    <nav class="navbar">
  <div class="nav-left">
    <span class="logo">Ruby</span>
    <a href="#">Explorar</a>
    <a href="#">Dolor amet</a>
    <a href="#">Dolor amet</a>
    <a href="#">Dolor amet</a>
  </div>

  <div class="nav-right">
    <input type="text" placeholder="Busqueda">

    <span class="icon">✉</span>
    <span class="icon">🔔</span>

    <div class="user">
      <span>johndoe.01</span>
      <img src="avatar.jpg" alt="user">
    </div>
  </div>
</nav>
</header>
<div class="fila">
<div class="contenedor-texto-1">
    <div class="contenedor-titulos">
        <h1 class="titulo">registrate</h1>
    </div>
    <div class="parrafo-login">
    </div>
</div>
</div>






</body>
</html>